@model Blog.Entities.Article

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row row-content">
        <fieldset>
            <h2>Create New Article</h2>


            <div class="col-xs-12 col-sm-2">

                    Article title:
                </div>
            <div class="col-xs-12 col-sm-10">
                @Html.EditorFor(model => model.ArticleName)
                @Html.ValidationMessageFor(model => model.ArticleName)
            </div>

            <div class="col-xs-12 col-sm-2">
                Article Summary:
            </div>
            <div class="col-xs-12 col-sm-10">
                @Html.EditorFor(model => model.ArticleSummary)
                @Html.ValidationMessageFor(model => model.ArticleSummary)
            </div>

            <div class="col-xs-12 col-sm-2">
                Article Content:
            </div>
            <div class="col-xs-12 col-sm-10">
                @Html.EditorFor(model => model.ArticleContent)
                @Html.ValidationMessageFor(model => model.ArticleContent)
            </div>

                
                    <input type="submit" value="Create" />
                
            | @Html.ActionLink("Back to Home", "Index")
</fieldset>
    </div>
}