@model Blog.Entities.Article

@{
    ViewBag.Title = "Delete";
}
<div class="row row-content">
    <div class="col-xs-12 col-sm-12">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
    </div>
        <fieldset>

            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                Article title:
            </div>
            <div class="col-xs-12 col-sm-10">
                <p style="padding:20px;"></p>
                @Html.DisplayFor(model => model.ArticleName)

            </div>

            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                Article Summary:
            </div>
            <div class="col-xs-12 col-sm-10">
                <p style="padding:20px;"></p>
                @Html.DisplayFor(model => model.ArticleSummary)
            </div>

            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                Article Content:
            </div>
            <div class="col-xs-12 col-sm-10">
                <p style="padding:20px;"></p>
                @Html.DisplayFor(model => model.ArticleContent)
            </div>
        </fieldset>
    <div class="col-xs-12 col-sm-10">
        <p style="padding:20px;"></p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" /> |
                @Html.ActionLink("Back to Home", "Index")
            </p>
        }
    </div>
    </div>
