@model Blog.Entities.Article



@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href='@Url.Content("~/Content/jq/jquery-ui.min.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Content/jq/jquery-ui.structure.min.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Content/jq/jquery-ui.theme.min.css")' rel="stylesheet" type="text/css" />

<div class="row row-content">
    <div class="col-xs-12 col-sm-12">

    </div>
    <div class="col-xs-12 col-sm-12">

        <h2>
            @Html.DisplayFor(model => model.ArticleName)
        </h2>
    </div>

    <div class="col-xs-12 col-sm-12">
        <p style="padding:20px;"></p>
        <h4> @Html.DisplayFor(model => model.ArticleContent)</h4>

</div>

    <div class="col-xs-12 col-sm-3">
        <p style="padding:20px;"></p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to Home", "Index")
    </div>
    <div class="col-xs-12 col-sm-9">
        <p style="padding:20px;"></p>
        <p><a class="btn btn-primary btn-xs" id="btnFirstComment">Create New Comment &raquo;</a></p>
    </div>
    @{
        int d = Model.Id;
    }
</div>

    <div class="col-xs-12 col-sm-12">
        Comments to the article:
    </div>



    <div id="results"></div>



    @Html.Partial("_PartialComment", Model.Comments)



    @*@Html.EditorFor(model => model.Comments)*@







    <div id="dialog" title="Enter your comment">

        <textarea name="comment" cols="40" rows="3" id="txtComment"></textarea>

        <p style="padding:20px;"></p>

        <p><a class="btn btn-primary btn-xs" href="/Home/CreateComment/@d" id="btnComment">Create New Comment &raquo;</a></p>

    </div>
    @section scripts{

        <script src='@Url.Content("~/Scripts/jquery-2.1.4.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui.min.js")' type="text/javascript"></script>


        <script type="text/javascript">


        </script>

        <script>

            $(document).ready(function () {

                $(function () {
                    $("#dialog").dialog({
                        autoOpen: false,
                        height: 300,
                        width: 400,
                        modal: true,
                        buttons: {
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                });

                $('#btnComment').click(function (e) {
                    e.preventDefault();
                    var name = $('#txtComment').val();
                    name = encodeURIComponent(name);
                    $('#results').load("http://localhost:24569/Home/_PartialAddComment?id=" + @d + "&" + "name=" + name);
                });

                $('#btnComment').click(function () {
                    $("#dialog").dialog("close");
                });

                $('#btnFirstComment').click(function () {
                    $("#dialog").dialog("open");
                });

            });
        </script>
    }
